<!-- views/index.hbs -->
<h1>FAQ System</h1>

<form id="askQuestionForm">
    <label for="userQuestion">Ask your question:</label>
    <input type="text" id="userQuestion" name="userQuestion" required />
    <button type="submit">Ask</button>
</form>

<p id="faqAnswer"></p>

<script src="/js/chat.js"></script>
