
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: url('') no-repeat center center fixed;
      background-size: cover;
    }
    

    .Rform-container, .pmfby-container {
      max-width: 600px;
      margin: 50px auto;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      padding: 20px;
      opacity: 0.95; /* Slight transparency */
    }

    h2 {
      text-align: center;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    .form-group input, .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      width: 100%;
    }

    button:hover {
      background-color: #45a049;
    }

    footer {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    .footer-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-section {
      flex: 1;
      margin: 10px;
      padding: 10px;
    }

    .social-icons a {
      margin: 0 10px;
    }
  